#viewport {
    max-width: 1170px;
    overflow: hidden;
    margin-top: 20px;
    
}
 
.slider {
    position: relative;
    transition: 500ms;
    width: calc(100% * 5);
    height: 450px; 
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}
 
.slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
   
   
}
 
.slide img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    border-radius: 16px;
}
 
#viewSlider {
    width: calc(30px * 5);
    display: flex;
    justify-content: space-between;
    margin: auto;
}
 
.viewSlide {
    width: 20px;
    height: 20px;
    background-color: red;
    margin: auto;
    
}

.prev{
   display: block;
   margin: auto;

}

.next{
    display: block;
    margin: auto;
}